<div class="content__item" data-space="{{ApplianceId}}">
    <h3 class="content__item-title">{{ApplianceId}}</h3>
    <div class="content__item-details" style="display: none">
        <p class="content__meta">
            <span class="content__meta-item">{{FloorLevel}}</span>
            <span class="content__meta-item">{{HomeId}}</span>
        </p>
        <p class="content__desc"></p>
    </div>
    <iframe style="width: 100%; height: 320px" src="{{DashboardURL}}" frameborder="0"></iframe>
</div>
<button class="boxbutton boxbutton--dark content__button content__button--hidden"
        aria-label="Close details">
    <i class="fw fw-cancel"></i>
</button>