<div class="level">
    {{{svg}}}
    <div class="level__pins">
        {{#each pins}}
        <a class="pin"
           data-appliance="{{appliance}}"
           data-type="{{type}}"
           data-level="{{level}}"
           data-marker="{{marker}}"
           data-category="1"
           data-space="{{space}}"
           href="#"
           aria-label="{{label}}">
			<span class="pin__icon">
			<svg class="icon icon--pin">
                <use xlink:href="#icon-pin"></use>
            </svg>
			<svg class="icon icon--logo">
                <use xlink:href="{{icon}}"></use>
            </svg>
			</span>
        </a>
        {{/each}}
    </div>
</div>