<div class="level" data-level="{{level}}">
    {{{svg}}}
    <div class="level__pins">
        {{#each pins}}
        <a class="pin"
           data-appliance="{{appliance}}"
           data-applianceType="{{applianceType}}"
           data-type="{{type}}"
           data-level="{{level}}"
           data-marker="{{marker}}"
           data-space="{{appliance}}"
           href="#"
           aria-label="{{appliance}}">
			<span class="pin__icon">
                <svg class="icon icon--pin">
                    <use xlink:href="#icon-pin"></use>
                </svg>
                <img class="icon icon--logo" src="{{icon}}">
			</span>
        </a>
        {{/each}}
    </div>
</div>